# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://myuser:secret@192.168.0.28:5432/mydatabase"
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING="postgres://myuser:secret@192.168.0.28:5432/mydatabase"
POSTGRES_USER=myuser
POSTGRES_HOST=192.168.0.28
POSTGRES_PASSWORD=secret
POSTGRES_DATABASE=mydatabase

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth


 